<%= form_for(@solvability) do |f| %>
  <% if @solvability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@solvability.errors.count, "error") %> prohibited this solvability from being saved:</h2>

      <ul>
      <% @solvability.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :src_id, "Source:" %><br>
    <% if @direction == 'src' %>
      <%= f.collection_select :src_id, [Event.find(@event_id)], :id, :title %>
    <% else %>
      <%= f.collection_select :src_id, Event.all, :id, :title %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :dst_id, "Destination" %><br>
    <% if @direction == 'dst' %>
      <%= f.collection_select :dst_id, [Event.find(@event_id)], :id, :title %>
    <% else %>
      <%= f.collection_select :dst_id, Event.all, :id, :title %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
