<%= form_for(@solvability_con) do |f| %>
  <% if @solvability_con.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@solvability_con.errors.count, "error") %> prohibited this solvability_con from being saved:</h2>

      <ul>
      <% @solvability_con.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :solvability_id %><br>
    <%= f.number_field :solvability_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
