<p id="notice"><%= notice %></p>

<h1><%= t :list_event_title %></h1>
<br />
<%= t :event_comment %><br />
<%= t :event_comment2 %><br />
<br />
<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th colspan="2">Title</th>
      <th>User</th>
    </tr>
    <tr>
      <th colspan="4">Content</th>
    </tr>
    <tr>
      <th width=150>Benefits</th>
      <th width=150>Solutions</th>
      <th width=150>Risks</th>
      <th width=150>Causes</th>
    </tr>
    
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr><td></td><td></td><td></td><td></td></tr>
      <tr>
        <td><%= event.id %></td>
        <td colspan="2"><%= event.title %></td>
        <td><%= event.user.email %></td>
        <td><%= link_to 'Show', event %></td>
       </tr>
       <tr>
        <td colspan="4"><%= event.content %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
       </tr>
       <tr>
        <td>
         	<% if event.benefits.each do |benefit| %>
         	  <%= link_to benefit.title, benefit %>
         	  <br/>
         	<% end.empty? %>
         	  <font color="RED">None</font>
         	<% end %>
        </td>
        <td>
         	<% if event.solutions.each do |solution| %>
         	  <%= link_to solution.title, solution %>
         	  <br/>
         	<% end.empty? %>
         	  <font color="RED">None</font>
         	<% end %>
        </td>
        <td>
         	<% if event.risks.each do |risk| %>
         	  <%= link_to risk.title, risk %>
         	  <br/>
         	<% end.empty? %>
         	  <font color="RED">None</font>
         	<% end %>
        </td>
        <td>
         	<% if event.causes.each do |cause| %>
         	  <%= link_to cause.title, cause %>
         	  <br/>
         	<% end.empty? %>
         	  <font color="RED">None</font>
         	<% end %>
        </td>
       </tr>
       <tr>
        <td align="center"><%= button_to 'Add Benefit',  new_event_solvability_path(event), params: {direction: 'src'}, method: :get %></td>
        <td align="center"><%= button_to 'Add Solution', new_event_solvability_path(event), params: {direction: 'dst'}, method: :get %></td>
        <td align="center"><%= button_to 'Add Risk',  new_event_causality_path(event), params: {direction: 'src'}, method: :get %></td>
        <td align="center"><%= button_to 'Add Cause', new_event_causality_path(event), params: {direction: 'dst'}, method: :get %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
