<p id="notice"><%= notice %></p>

<h1><%= t :list_event_title %></h1>
<br />
<%= t :event_comment %><br />
<%= t :event_comment2 %><br />
<br />
<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th colspan="2">Title</th>
      <th>User</th>
    </tr>
    <tr>
      <th width=150>Benefits</th>
      <th width=150>Solutions</th>
      <th width=150>Risks</th>
      <th width=150>Causes</th>
    </tr>
    <tr>
      <th colspan="4">Content</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.id %></td>
        <td colspan="2"><%= event.title %></td>
        <td><%= event.user.email %></td>
       </tr>
       <tr>
        <td>
         	<% event.benefits.each do |benefit| %>
         	  <%= benefit.title %>
         	<% end %>
        </td>
        <td>
         	<% event.solutions.each do |solution| %>
         	  <%= solution.title %>
         	<% end %>
        </td>
        <td>
         	<% event.risks.each do |risk| %>
         	  <%= risk.title %>
         	<% end %>
        </td>
        <td>
         	<% event.causes.each do |cause| %>
         	  <%= cause.title %>
         	<% end %>
        </td>
       </tr>
       <tr>
        <td colspan="4"><%= event.content %></td>
       </tr>
       <tr>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
